@import "normal.css";
@import "fonts.css";
/*  
*{
    box-sizing: border-box;
}
*/

html{
    font-size:100%;
    max-width: 28.125rem;
    background-color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contain{
    max-width: 28rem;
    background-color: ghostwhite;
    margin: .75rem;
    outline: 5px solid ghostwhite;
    border: 2.5px solid lavender;
}

a{
    text-decoration: none;
}
.logo{
    position: relative;
    top:.25rem;
    left:0;
}
.logo img{
    width: 32%;
}
.logo a{
    margin:0;
    padding:0;
}

header{
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(90, 63, 90);
    border-bottom: 1px solid gainsboro;
    text-align: center;
    padding: .25rem 0;
}

#introduction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    font-weight: thin;
    font-style: normal;
}
p{
    text-indent: 2rem;
    padding: 1rem;
}
.resume{
    font-size: .75rem;
    padding: 1rem;
}

.resume div{
    padding-bottom: .5rem;
}

.resume div dt{
    padding-bottom: .5rem;
}

.resume div dd{
    padding-bottom: .5rem;
}

.resume .education ul li{
    list-style: none;
}

img{
    max-width: 26.325rem;    
}

video{
    max-width: 26.325rem;
}
/*Portfolio Page*/
.portfolio img{
    opacity: .3;
    width: 100%;
   
}

.portfolio h2{
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px darkgray;
    padding: 1rem 0;
}

.arduino{
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}
.arduino h2{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    z-index: 10;
}
.reyale{
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
}
.reyale h2{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    z-index: 10;
}
.phoenix{
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
}
.phoenix h2{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    z-index: 10;
}
.wood{
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
}
.wood h2{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    z-index: 10;
}
.portfolio .logo{
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
}
.logo h2{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    z-index: 10;
}

/*menu navigation*/
nav{
    border-bottom: 1px solid gainsboro;
    background: ghostwhite;
    position: sticky;
    top: 0;
    z-index: 50;
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
}

nav ul {
    text-align: justify;
    line-height: 0;
    margin: 0;
    padding: 1rem 2rem;
    font-weight: bold;
  }
  
nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 100%;
    margin: .75rem 0;
}

nav ul li a{
    padding: .75rem .75rem;
}


.top{
    text-align: center;
}
/*Pic on the about page*/
#me p{
    padding:1rem;
}
.me img{
    width: 100%;
}
/* CSS stuff for the social media tabs */
.social ul{
    list-style:none;
    padding: 0;
    text-align: center;
}

.social ul li{
    display: inline-block;
    padding: .5rem .25rem;
}
