@import "normal.css";
@import "fonts.css";
/*  
*{
    box-sizing: border-box;
}
*/

html{
    font-size:100%;
    max-width: 28.125rem;
    background-color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contain{
    max-width: 28rem;
    background-color: ghostwhite;
    margin: 1rem;
}

a{
    text-decoration: none;
}
div.logo{
    position: relative;
    top:.25rem;
    left:0;
    /*find best postition*/
}
.logo a{
    margin:0;
    padding:0;
}

header{
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
    color:rgb(90, 63, 90);
    border-bottom: 1px solid gainsboro;
    text-align: center;
    padding: .25rem 0;
}

#introduction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    font-weight: thin;
    font-style: normal;
}
p{
    text-indent: 2rem;
}
.resume{
    font-size: .75rem;
}

/*menu navigation*/
nav ul {
    text-align: justify;
    line-height: 0;
    margin: 0;
    padding: 1rem 2rem;
  }
  
nav ul:after {
content: '';
display: inline-block;
width: 100%;
}

nav ul li {
display: inline-block;
line-height: 100%;
}

.top{
    text-align: center;
}
/*Pic on the about page*/
#me p{
    padding:1rem;
}
.me img{
    width: 100%;
}
/* CSS stuff for the social media tabs */
.social ul{
    list-style:none;
    padding: 0;
    text-align: center;
}

.social ul li{
    display: inline-block;
    padding: 0;
}
