@import "normal.css";
@import "fonts.css";
/*  
*{
    box-sizing: border-box;
}
*/

html{
    background-color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:100%;
    margin: auto;
    max-width: 28.125rem;
}

body{
    max-width: 28.125rem;
}
.contain{
    background-color: ghostwhite;
    border: 2.5px solid lavender;
    margin: .75rem;
    outline: 5px solid ghostwhite;
    width:100%;
}

a{
    text-decoration: none;
}
header .logo{
    left:0;
    position: relative;
    top:.25rem;
}
header .logo img{
    width: 6rem;
}
header .logo a{
    margin:0;
    padding:0;
}

header{
    border-bottom: 1px solid gainsboro;
    color:rgb(90, 63, 90);
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: .25rem 0;
}

#introduction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: thin;
    padding: 1rem;
}
#introduction h3, #introduction h6{
    text-align: center;
}
p{
    padding: 1rem;
    text-indent: 2rem; 
}
h1, h2, h4, h6{
    color:rgb(90, 63, 90);
}
.contact h4, .socialmedia{
    color: darkslateblue;
    margin:1rem
}
.resume{
    font-size: .75rem;
    padding: 1rem;
}

.basic_info{
    text-align: center;
}

.resume h2, .resume h4{
    text-align: center;
}

.resume div{
    padding-bottom: .5rem;
}

.resume div dt{
    padding-bottom: .5rem;
}

.resume div dd{
    padding-bottom: .5rem;
}

.resume .education ul li{
    list-style: none;
}

img{
    max-width: 100%;    
}

video{
    max-width: 100%;
}
/*Portfolio Page*/
.portfolio img{
    opacity: .3;
    width: 100%;
}

.portfolio_l img, .portfolio_l svg{
    width: 100%;
}

.portfolio_l h1, .portfolio_l h2, .portfolio_l h3, .portfolio_l h4, .portfolio_l h5, .portfolio_l h6, .portfolio_a h1, .portfolio_ux h1, .portfolio_ux h3{
    text-align: center;
}

.portfolio h2{
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1rem 0;
    text-shadow: 2px 2px darkgray;
}

.arduino{
    position: relative;
}
.arduino h2{
    font-size: 1.125rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 10;
}
.ux{
    position: relative;
}
.ux h2{
    font-size: 1.125rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 10;
}
.phoenix p a{
    text-decoration: underline;
}

.portfolio .logo{
    position: relative;
}
.portfolio .logo h2{
    font-size: 1.125rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 10;
}
.portfolio_l .logos{
    left: 2.5%;
    position: relative;
    width: 95%;
}

.yale{
    border-bottom: 1px solid gainsboro;
}
/*menu navigation*/
nav{
    background: ghostwhite;
    border-bottom: 1px solid gainsboro;
    font-family: roboto_condensed, Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 50;
}

nav ul {
    font-weight: bold;
    line-height: 0;
    margin: 0;
    padding: .5rem 1rem;
    text-align: justify;
  }
  
nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 100%;
    margin: .5rem 0;
}

nav ul li a{
    padding: .75rem .75rem;
}


.top{
    text-align: center;
}
/*Pic on the about page*/
#me p{
    padding:1rem;
}
.me img{
    width: 100%;
}
/* CSS stuff for the social media tabs */
.social ul{
    list-style:none;
    padding: 0;
    text-align: center;
}

.social ul li{
    display: inline-block;
    padding: .5rem .25rem;
}
