
 /*Program a CSS selector that will set the color of all h1, and h3 elements to hex code 990000.*/
 h1,h3{color:#990000;}
 
/* Selector 1: The first should style all the elements that have a class equal to "primary", setting the the color to an rgb code that has 100 red, 200 green and 40 blue.
Selector 2: The second selector should style only the p elements that have a class equal to "primary" setting the font size to 16px.*/
 .primary{color: rgb(100,200,40);}
p.primary{font-size:16px;}

/* Using the above sample code, program a CSS selector that sets the font size for all of the list items in lists with a class of speakers to 20px.*/
.speakers li{font-size:20px;}

/*Using the above sample code, program a CSS selector that will style all of the p elements, setting the the color to red, and then font size to 18px.*/
p{color:red; font-size:18px;}

/*Using the above sample code, program a CSS selector that will style only the element that has an id equal to "introduction", setting the the color to the hex code 009900.*/
#introduction{color: #009900;}

/*Selector 1: links that have been visited should be 2edb00.
Selector 2: when a user hovers over a link, it should be 004da7.
Selector 3: when a user clicks down on a link, it should be ffc700.*/
a:visited{color:#2edb00;}
a:hover{color:#004da7;}
a:active{color:#ffc700;}