html{font-size: 100%;} /* about 16 px */
body{font-size: 1rem;}
main{font-size: .88rem;}/*about 14*/

p{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-style: italic;
    font-style: normal; /* remove style */
    font-variant: small-caps;
  }

p {
    font-weight: 700;
    font-weight: bold;    /* same as 700 */
    font-weight: normal;  /* same as 400 */
    font-weight: lighter; /* relative to parent element */
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1.4;
  }

  /*font: [style] [weight] [variant] size[/line-height] family;
    font size and family is required*/
  p {
    font: italic bold 14px/19px Arial, sans-serif;
    font: small-caps 150% "Times New Roman", Times, serif;
    font: 90%/120% "Comic Sans MS", Impact, sans-serif;
  }

  /*Format text*/

  /*text-shadow: horizontalOffset, verticalOffset, blurRadius, shadowColor;*/
  h1 {
    text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  }
  h2 {
    text-shadow: -2px -2px 4px red;
  }

  p.standout{text-decoration:underline;}
  h2{text-transform:uppercase;}


  /*Program a CSS selector that will style a p element with a class equal to custom with the following attributes in this order:.

color should be hexcode: 70ca89.
font size should be double the parent element's font size.
text should be italic
text should be bold
text should be underlined
The First Letter Of Each Word Within The Element Should Be Capitalized*/

p.custom{
    color: #70ca89;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}

/*custom font*/

@font-face{
    font-family:'nameOfFont';
    src:url('fonts/chunkfive.eot'); }

/*use this as template for importing (find file on pc for url)*/
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive.woff2') format('woff2'),
         url('fonts/chunkfive.woff') format('woff');
         font-weight: normal;
         font-style: normal;
    }

/*search for css variable fonts*/